
<div class="contenu">
    <div class="mainContent"> 
        <div class="wordAcc">
            <h1>Bienvenue chez <span>IKABOUTIKI</span></h1>
        </div>
        <div class="form">
            <form action="">
                     <div class="spaceform">
                         <input type="text" name="nom complet" placeholder="Votre nom complet *">
                     </div>
                     <div class="spaceform">
                         <input type="mail" name="mail" placeholder="Votre Email *">
                     </div>
                     <div class="spaceform">
                         <input type="password" name="password" placeholder="Mot de passe *">
                     </div>
                     <div class="spaceform">
                        <input type="password" name="password" placeholder="Confirmé mot de passe *">
                     </div>
                     
                     <div class="spaceform">
                       
                         <input type="submit" value="Envoyez" class="button">
                     </div>
           
                 </form>
    
    
         </div>
    
         <p>Avez vous un compte ?  <a href="#">Se connecté</a></p>
    </div>
        
</div>
