<section class="about-section">
    <h1 class="about-title">À propos de nous</h1>
    <div class="about-content">
      <img src="../../../../assets/image4.png" alt="e" class="about-image" />
    </div>
    <div class="about-text-container">
      <p class="about-description">
        Nous travaillons directement avec des fournisseurs de confiance pour
        sélectionner des ingrédients naturels et biologiques de haute qualité pour
        nos produits. Nous avons également mis en place un processus rigoureux de
        contrôle de qualité pour garantir la qualité de nos produits. Vous pouvez
        facilement commander nos produits en ligne, et notre équipe est disponible
        pour répondre à toutes vos questions ou préoccupations. Si pour une raison
        quelconque vous n'êtes pas satisfait de votre achat, nous offrons une
        politique de retour et de remboursement de 24h.
      </p>
      <div class="about-icon-list">
        <i class="bx bxl-facebook-circle"></i>
        <i class="bx bxl-whatsapp"></i>
        <i class="bx bxl-instagram"></i>
        <i class="bx bxl-linkedin"></i>
        <i class="bx bxl-tiktok"></i>
      </div>
      <div class="about-button-container">
        <button class="about-button">En savoir plus</button>
      </div>
    </div>
  </section>
