<div class="mainContaint">
    <div class="titrecnt">
        <h1>Contactez-nous</h1>
   </div>
 <div class="content1">
    <!-- Pour le titre "Contactez-nous" -->
                    
    <!--============** Block de gauche**========== -->
    <div class="left">
        <div class="block">
            <div class="iCall">
                <!-- icon -->
              <h2 id="ic">  <i class="fa-solid fa-phone" style="color: #f29338;"></i>Appelez-nous</h2>
                    <p> Nous sommes disponibles 24h/24</p>
            </div>
            <div class="svcl">
                <h3>Service client</h3>
                <p>6-146-389-574</p>
            </div>
            <div class="carrier">
                <h3>Carrière:</h3>
                <p>6-146-389-574</p>
            </div>
        </div>       
            <!-- Conteneur pour la bordure -->
            <div class="border"></div>
           
            <!-- Pour le block "Ecrit-nous" -->
            <div class="block">
                <div class="whrite">
                    <!-- icone -->
                    <h2 id="ic"><i class="fa-solid fa-envelope" style="color: #f29d38;"></i>Ecrit-nous</h2>
                    <p> Remplissez le formulaire et nous vous <br>
                     contacterons dans les 24 heures.</p>
                </div>
          
                 <div class="svcl">
                        <h3>Service client:</h3>
                        <p>customer@example.com</p>
                </div>
              
                 <div class="carrier">
                         <h3>Carrière:</h3>
                        <p>Carrière@example.com</p>
                </div>
            </div> 
        <!-- Conteneur pour la bordure -->
        <div class="border"></div>
           
        <div class="block">
                <h2 id="ic"><i class="fa-solid fa-envelope" style="color: #f29d38;"></i>Trouvez-nous</h2>
                <p>Voulez-vous visitez nos magasins hors ligne?</p>

                <span>
                    Allez au localisateur de magasin  
             
                    <i class="fa-solid fa-arrow-right" style="color: #020203;"></i>
                            
                </span>
               
        </div>

    </div>
      <!--============**Fin Block de gauche**========== -->
      <!--============** Block de Droite**========== -->
    <div class="right">
       <form action="">
                <div class="spaceform">
                    <input type="text" name="nom complet" placeholder="Votre nom *">
                </div>
                <div class="spaceform">
                    <input type="mail" name="mail" placeholder="Votre Email *">
                </div>
                <div class="spaceform">
                    <input type="text" name="titre" placeholder="Titre *">
                </div>
                <div class="spaceform">
                    <textarea name="" id="" cols="45" rows="9"> Message *</textarea>
                </div>
                
                <div class="spaceform">
                    <input type="submit" value="Envoyez un message" class="button">
                </div>
      
            </form>

    </div>
  </div>
</div>

<!-- Pour le pied de page -->
<div class="foot">
    
</div>

<footer class="pied">
    <div>
        <h2 class="secondttr">Envie d'idées de style et de friandises?</h2>
    </div>
    <div class="fform">
        <form action="">
            
                <div class="input1">
                    <input type="mail" name="mail" placeholder="Votre E-mail">

                </div>
                <div class="input2">
                    <input type="submit" value="S'inscrire">
                </div>
                    
                
            
        </form>
    </div>
   
<div class="footcont">
    <div class="ikbtk">
        <h2>IKABOUTIKI.</h2>
         <!-- icone -->
         <div class="icon">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
         </div>
    </div>

    <div class="partie-container">
        <div class="partie" id="box" >
                <h4>SUPPORT</h4>
                <p>
                    Contact US <br>
                     FaQs <br>
                     Guide des tailles <br>
                    Expédition & Retour
                </p>
        </div>
        
        <div class="partie " id="box">
            
            <h4>BOUTIQUE</h4>
            <p>
                Achats pour homme <br>
                Achats pour femme <br>
                Achats pour enfant <br>
                Réduction

            </p>
        </div>
    
    
        <div class="partie" >
            <h4>ENTREPRISE</h4>
            <p>
                Notre histoire <br>
                Carrières <br>
                Termes & Conditions <br>
                Confidentialité & Cookie <br>
            </p>
        </div>
    
    
        <div class="partie" >
            <h4>CONTACT</h4>
            <P>
                1-202-555-0105 <br>
                1-202-555-0105 <br>
                help@shopper.com <br>
            </P>
        </div>
         
    </div>
        
            
    

</div>
<div class="border2">

</div>
<div class="copy">
    <p>copyright@ | créer par le groupe 3</p>
</div>
</footer>
